/*CSS*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #222222;
    line-height: 1.6;
}

.container {
    width: 90%;
    max-width: 1180px;
    margin: auto;
}

img {
    width: 100%;
    display: block;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}


/*Button*/

.button {

    display: inline-block;

    background-color: #2F5EF7;

    color: white;

    padding: 14px 30px;

    border-radius: 6px;

    font-size: 16px;

    font-weight: bold;

}

.button:hover {

    background-color: #2149D8;

}

.button-outline {

    display: inline-block;

    border: 2px solid #2F5EF7;

    color: #2F5EF7;

    padding: 12px 28px;

    border-radius: 6px;

    font-size: 16px;

    font-weight: bold;

}

.button-outline:hover {

    background-color: #2F5EF7;

    color: white;

}


/*Heading*/

.section-title {

    text-align: center;

    font-size: 48px;

    margin-bottom: 15px;

    color: #111111;

}

.section-text {

    text-align: center;

    font-size: 18px;

    color: #666666;

    margin-bottom: 50px;

}


/*Navbar*/

.navbar {

    background-color: white;

    padding: 18px 0;

    border-bottom: 1px solid #eeeeee;

}

.navbar .container {

    display: flex;

    justify-content: space-between;

    align-items: center;

}

.logo img {

    width: 120px;

}

.menu {

    display: flex;

    gap: 30px;

}

.menu li a {

    color: #444444;

    font-size: 15px;

}

.menu li a:hover {

    color: #2F5EF7;

}


/*Hero Section*/

.hero {

    background-image:
        linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.65)),
        url("./assets/banner.jpg");

    background-size: cover;

    background-position: center;

    background-repeat: no-repeat;

    text-align: center;

    color: white;

    padding: 170px 0;

}

.hero h1 {

    font-size: 72px;

    margin-bottom: 25px;

}

.hero h1 em {

    font-style: italic;

}

.hero p {

    width: 700px;

    margin: auto;

    font-size: 22px;

    line-height: 1.6;

    color: #eeeeee;

    margin-bottom: 45px;

}


/*Speakers Section*/

.speakers {

    background-color: #ffffff;

    padding: 90px 0;

}

.speaker-container {

    display: grid;

    grid-template-columns: repeat(2, 1fr);

    gap: 30px;

    margin-top: 50px;

}

.speaker-card {

    background-color: white;

    border: 1px solid #e6e6e6;

    border-radius: 8px;

    overflow: hidden;

    transition: 0.3s;

}

.speaker-card:hover {

    transform: translateY(-5px);

    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.10);

}

.speaker-card img {

    height: 300px;

    object-fit: cover;

}

.speaker-info {

    padding: 20px;

}

.speaker-info h5 {

    color: #2F5EF7;

    font-size: 11px;

    font-weight: bold;

    text-transform: uppercase;

    margin-bottom: 10px;

}

.speaker-info h3 {

    font-size: 24px;

    color: #111111;

    margin-bottom: 8px;

}

.speaker-info p {

    font-size: 15px;

    color: #666666;

}

/* Pricing Section*/

.pricing {

    background-color: #f8f9fc;

    padding: 90px 0;

}

.pricing-container {

    display: grid;

    grid-template-columns: repeat(3, 1fr);

    gap: 30px;

    margin-top: 50px;

}

.price-card {

    background-color: white;

    border: 1px solid #e6e6e6;

    border-radius: 8px;

    padding: 35px 30px;

    transition: 0.3s;

}

.price-card:hover {

    transform: translateY(-5px);

    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.10);

}

.price-card h4 {

    color: #666666;

    font-size: 14px;

    margin-bottom: 12px;

}

.price-card h2 {

    font-size: 46px;

    color: #111111;

    margin-bottom: 5px;

}

.price-card p {

    color: #777777;

    font-size: 14px;

    margin-bottom: 25px;

}

.price-card ul {

    margin-bottom: 30px;

}

.price-card ul li {

    margin-bottom: 12px;

    color: #444444;

    font-size: 15px;

}


/*Pricing Card */

.featured {

    background-color: #0f172a;

    border: none;

}

.featured h4 {

    color: white;

}

.featured h2 {

    color: white;

}

.featured p {

    color: #dddddd;

}

.featured ul li {

    color: white;

}

.featured .button {

    width: 100%;

    text-align: center;

}

.price-card .button,
.price-card .button-outline {

    width: 100%;

    text-align: center;

}
/*Hackathon Section */

.hackathon {

    background-color: #ffffff;

    padding: 90px 0;

}

.challenge-container {

    display: grid;

    grid-template-columns: repeat(3, 1fr);

    gap: 30px;

    margin-top: 50px;

}

.challenge-card {

    background-color: white;

    border: 1px solid #e6e6e6;

    border-radius: 8px;

    padding: 30px;

    transition: 0.3s;

}

.challenge-card:hover {

    transform: translateY(-5px);

    box-shadow: 0 8px 20px rgba(0,0,0,0.10);

}

.challenge-card h3 {

    font-size: 24px;

    color: #111111;

    margin-bottom: 15px;

}

.challenge-card h5 {

    display: inline-block;

    background-color: #2F5EF7;

    color: white;

    padding: 6px 14px;

    border-radius: 20px;

    font-size: 13px;

    margin-bottom: 20px;

}

.challenge-card p {

    color: #666666;

    font-size: 15px;

    line-height: 1.7;

    margin-bottom: 20px;

}

.challenge-card h4 {

    color: #2F5EF7;

    font-size: 22px;

}


/*Prize Box*/

.prize-box {

    background-color: #2F5EF7;

    color: white;

    text-align: center;

    padding: 50px 30px;

    border-radius: 8px;

    margin-top: 60px;

}

.prize-box img {

    width: 70px;

    margin: auto;

    margin-bottom: 20px;

}

.prize-box h3 {

    font-size: 30px;

    margin-bottom: 15px;

}

.prize-box h1 {

    font-size: 60px;

    margin-bottom: 20px;

}

.prize-box p {

    width: 700px;

    margin: auto;

    line-height: 1.7;

}


/*Button */

.join-button {

    text-align: center;

    margin-top: 40px;

}


/*Footer*/

footer {

    background-color: #111111;

    padding: 60px 0 30px;

}

.footer-top {

    display: flex;

    justify-content: space-between;

    align-items: center;

    margin-bottom: 30px;

}

.footer-logo img {

    width: 140px;

}

.footer-icons {

    display: flex;

    gap: 20px;

}

.footer-icons img {

    width: 24px;

}

footer hr {

    border: none;

    border-top: 1px solid #444444;

    margin-bottom: 20px;

}

.copyright {

    color: #cccccc;

    text-align: center;

    font-size: 15px;

}